layout {
  pane split_direction="vertical" {
    pane edit="~/.config/zellij/layout.kdl" 
    pane split_direction="horizontal" {
      foo
      foo
    }
  }
  pane size=1 borderless=true {
      plugin location="compact-bar"
  }
  pane_template name="foo" {
    command "ls"
    start_suspended true
  }
}








